<!--
<h2>{{title}}</h2>
<ul>
  <li *ngFor="let item of product">
    {{item.value}} - {{item.createdAt | date:'short'}}
    <button (click)="setCurrentProductId(item._id)">
      <fa name="folder-open-o"></fa>
    </button>
    <button (click)="deleteProduct(item._id)">
      <fa name="trash"></fa>
    </button>
  </li>
</ul>
-->

<h4>Choose Product</h4>
<!-- Table -->
<table class="table">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Open</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let item of product">
    <td>{{item.value}}</td>
    <td>{{item.createdAt | date:'short'}}</td>
    <td>
      <button (click)="setCurrentProductId(item._id)">
        <fa name="folder-open-o"></fa>
      </button>
    </td>
    <td>
      <button (click)="deleteProduct(item._id)">
        <fa name="trash"></fa>
      </button>
    </td>
  </tr>
</table>

<app-product-treeview *ngIf="currentProductId" [productId]="currentProductId"></app-product-treeview>
