<h3>TreeView of Knowledge</h3>
<button (click)="newNode()">
  <fa name="plus"></fa>
</button>
<button (click)="syncWithServer()">
  <fa name="upload"></fa>
</button>
<tree-root
  [nodes]="knowledgeArray"
  [options]="options"
>
  <ng-template #treeNodeTemplate let-node let-index="index">
    <span *ngIf="!node.editMode">{{ node.data.name }}</span>
    <input type="text" class="form-control" id="name"
           [(ngModel)]="node.data.name" name="name"
           *ngIf="node.editMode">
    <button *ngIf="!node.editMode" (click)="editNode(node)">
      <fa name="pencil"></fa>
    </button>
    <button *ngIf="!node.editMode" (click)="deleteNode(node)">
      <fa name="trash"></fa>
    </button>
    <button *ngIf="node.editMode" (click)="editNode(node)">
      <fa name="check-square-o"></fa>
    </button>
    <!--<span *ngIf="!node.editMode">{{ node.data.uuid }}</span>-->
    <!--<span>[node-id: {{ node.data.uuid }}]</span>-->
  </ng-template>
</tree-root>

