<div class="jumbotron">
  <h1>BMIG</h1>
  <p>Businessmodel Idea Generator</p>
</div>
<div class="container-fluid">
  <app-uploadview></app-uploadview>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-knowledge-browser></app-knowledge-browser>
    </div>
    <div class="col">
      <app-product-browser></app-product-browser>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-block-view></app-block-view>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <app-generator-view></app-generator-view>
    </div>
  </div>
</div>


