<div *ngIf="knowledgeId">
  <h2>Block-View</h2>
  <!--<h4>Current KnowledgeId: {{knowledgeId}}<br>
    Current ProductId: {{productId}}</h4>-->
  <button *ngIf="!creatingBlockMode" (click)="newBlock()">
    <fa name="plus"></fa>
  </button>

  <table>
    <tr>
      <th>Category</th>
      <th>Group</th>
      <th>Content</th>
      <th>Knowledgeholder
      </th>
      <th>Productholder</th>
      <th>Actions</th>
    </tr>

    <!-- BLOCK CREATION -->
    <tr *ngIf="creatingBlockMode">
      <td><input type="text" class="form-control" id="category"
                 [(ngModel)]="tempBlockObject.category" name="category">
      </td>
      <td><input type="text" class="form-control" id="group"
                 [(ngModel)]="tempBlockObject.group" name="group">
      </td>
      <td>
        <input id="content"
               [(ngModel)]="tempBlockObject.content" name="content">
      </td>
      <td
        (treeDrop)="onDropTempKnowledge($event)"
        [treeAllowDrop]="allowDropKnowledge.bind(this)">
        <div id="tempKnowledgeholder">
          <span
            *ngFor="let k of tempBlockObject.knowledgeholder"
            class="knowledgeSpan">
            {{k.name}}
            <button (click)="deleteFromKnowledgeholder(k, tempBlockObject.knowledgeholder)">
          <fa name="close"></fa>
        </button>
          </span>
        </div>
      </td>
      <td
        (treeDrop)="onDropTempProduct($event)"
        [treeAllowDrop]="allowDropKnowledge.bind(this)">
        <div id="tempProductholder">
          <span
            *ngFor="let p of tempBlockObject.productholder"
            class="productSpan">
            {{p.value}}
            <button (click)="deleteFromKnowledgeholder(p, tempBlockObject.productholder)">
            <fa name="close"></fa>
          </button>
          </span>
        </div>
      </td>
      <td>
        <button *ngIf="creatingBlockMode" (click)="saveBlock()">
          <fa name="check"></fa>
        </button>
        <button *ngIf="creatingBlockMode" (click)="abort()">
          <fa name="bolt"></fa>
        </button>
      </td>
    </tr>

    <!-- BLOCK EDITING -->
    <tr *ngFor="let block of blocks">
      <td *ngIf="editingThisBlock(block._id)">
        <input type="text" class="form-control" id="editCategory"
               [(ngModel)]="block.category" name="editCategory">
      </td>
      <td *ngIf="editingThisBlock(block._id)">
        <input type="text" class="form-control" id="editGroup"
               [(ngModel)]="block.group" name="editGroup">
      </td>
      <td *ngIf="editingThisBlock(block._id)">
        <input type="text" class="form-control" id="editContent"
               [(ngModel)]="block.content" name="editContent">
      </td>
      <td *ngIf="editingThisBlock(block._id)"
          (treeDrop)="onDropEditKnowledge($event, block)"
          [treeAllowDrop]="allowDropKnowledge.bind(this)">
        <div id="editKnowledgeholder">
          <span
            *ngFor="let k of block.knowledgeholder"
            class="knowledgeSpan editKnowledgeSpan">
            {{k.name}}
            <button (click)="deleteFromKnowledgeholder(k, block.knowledgeholder)">
          <fa name="close"></fa>
        </button>
          </span>
        </div>
      </td>
      <td *ngIf="editingThisBlock(block._id)"
          (treeDrop)="onDropEditProduct($event, block)"
          [treeAllowDrop]="allowDropKnowledge.bind(this)">
        <div id="editProductholder">
          <span
            *ngFor="let p of block.productholder"
            class="productSpan editProductSpan">
            {{p.value}}
            <button (click)="deleteFromKnowledgeholder(p, block.productholder)">
          <fa name="close"></fa>
        </button>
          </span>
        </div>

      </td>


      <!-- BLOCK PRESENTATION -->
      <td *ngIf="!editingThisBlock(block._id)">{{block.category}}</td>
      <td *ngIf="!editingThisBlock(block._id)">{{block.group}}</td>
      <td *ngIf="!editingThisBlock(block._id)">{{block.content}}</td>
      <td *ngIf="!editingThisBlock(block._id)">
        <div id="knowledgeholder">
          <span
            *ngFor="let k of block.knowledgeholder"
            class="knowledgeSpan">
            {{k.name}}
          </span>
        </div>
      </td>
      <td *ngIf="!editingThisBlock(block._id)">
        <div id="productholder">
          <span
            *ngFor="let p of block.productholder"
            class="productSpan">
            {{p.value}}
          </span>
        </div>
      </td>
      <td>
        <button *ngIf="!editingThisBlock(block._id)" (click)="editBlock(block._id)">
          <fa name="pencil"></fa>
        </button>
        <button *ngIf="editingThisBlock(block._id)" (click)="updateBlock(block._id, block)">
          <fa name="check"></fa>
        </button>
        <button (click)="deleteBlock(block._id)">
          <fa name="trash"></fa>
        </button>
      </td>
    </tr>
  </table>
</div>
