<div *ngIf="knowledgeId">
  <hr>
  <h2>Block-View</h2>

  <!-- TODO -->
  <!-- Filter Category --> <!--
  <select class="form-control" [(ngModel)]="showCategory">
    <option *ngFor="let c of categories">{{c}}</option>
  </select>
  -->

  <!--<h4>Current KnowledgeId: {{knowledgeId}}<br>
    Current ProductId: {{productId}}</h4>-->
  <button *ngIf="!creatingBlockMode" (click)="newBlock()">
    <span>New Block </span>
    <fa name="plus"></fa>
  </button>
  <br>
  <table class="table">
    <tr>
      <th>Category</th>
      <th>Group</th>
      <th>Content</th>
      <th>Knowledgeholder
      </th>
      <th>Productholder</th>
      <th>Actions</th>
    </tr>

    <!-- BLOCK CREATION -->
    <tr *ngIf="creatingBlockMode">
      <td>
        <select class="form-control" [(ngModel)]="tempBlockObject.category">
          <option *ngFor="let c of categories">{{c}}</option>
        </select>
      </td>
      <td><input type="text" class="form-control" id="group"
                 [(ngModel)]="tempBlockObject.group" name="group">
      </td>
      <td>
        <input id="content"
               [(ngModel)]="tempBlockObject.content" name="content">
      </td>
      <td
        (treeDrop)="onDropTempKnowledge($event)"
        [treeAllowDrop]="allowDropKnowledge.bind(this)">
        <div id="tempKnowledgeholder">
          <span
            *ngFor="let k of tempBlockObject.knowledgeholder"
            class="knowledgeSpan">
            <p style="display:inline">{{k.name}}</p>
            <select style="display: inline; width: 60px" class="form-control form-control-sm" [(ngModel)]="k.depth">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <button style="display:inline-block" type="button" class="btn btn-sm btn-outline-danger"
                    (click)="deleteFromKnowledgeholder(k, tempBlockObject.knowledgeholder)">
              <fa name="close"></fa>
            </button>
          </span>
        </div>
      </td>
      <td
        (treeDrop)="onDropTempProduct($event)"
        [treeAllowDrop]="allowDropKnowledge.bind(this)">
        <div id="tempProductholder">
          <span
            *ngFor="let p of tempBlockObject.productholder"
            class="productSpan">
            {{p.key}}
            <button type="button" class="btn btn-sm btn-outline-danger"
                    (click)="deleteFromKnowledgeholder(p, tempBlockObject.productholder)">
            <fa name="close"></fa>
          </button>
          </span>
        </div>
      </td>
      <td>
        <button *ngIf="creatingBlockMode" (click)="saveBlock()">
          <fa name="check"></fa>
        </button>
        <button *ngIf="creatingBlockMode" (click)="abort()">
          <fa name="bolt"></fa>
        </button>
      </td>
    </tr>

    <!-- BLOCK EDITING -->
    <tr *ngFor="let block of blocks">
      <td *ngIf="editingThisBlock(block._id)">
        <select class="form-control" [(ngModel)]="block.category">
          <option *ngFor="let c of categories">{{c}}</option>
        </select>
      </td>
      <td *ngIf="editingThisBlock(block._id)">
        <input type="text" class="form-control" id="editGroup"
               [(ngModel)]="block.group" name="editGroup">
      </td>
      <td *ngIf="editingThisBlock(block._id)">
        <input type="text" class="form-control" id="editContent"
               [(ngModel)]="block.content" name="editContent">
      </td>
      <td *ngIf="editingThisBlock(block._id)"
          (treeDrop)="onDropEditKnowledge($event, block)"
          [treeAllowDrop]="allowDropKnowledge.bind(this)">
        <div id="editKnowledgeholder">
            <span
              *ngFor="let k of block.knowledgeholder"
              class="knowledgeSpan editKnowledgeSpan">
              <p style="display:inline-block">{{k.name}}</p>
              <select style="display:inline-block; width: 60px" class="form-control form-control-sm"
                      [(ngModel)]="k.depth">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <button type="button" class="btn btn-sm btn-outline-danger"
                      (click)="deleteFromKnowledgeholder(k, block.knowledgeholder)">
            <fa name="close"></fa>
          </button>
            </span>
        </div>
      </td>
      <td *ngIf="editingThisBlock(block._id)"
          (treeDrop)="onDropEditProduct($event, block)"
          [treeAllowDrop]="allowDropKnowledge.bind(this)">
        <div id="editProductholder">
            <span
              *ngFor="let p of block.productholder"
              class="productSpan editProductSpan">
              {{p.key}}
              <button type="button" class="btn btn-sm btn-outline-danger"
                      (click)="deleteFromKnowledgeholder(p, block.productholder)">
            <fa name="close"></fa>
          </button>
            </span>
        </div>
      </td>

      <!-- BLOCK PRESENTATION -->
      <td *ngIf="!editingThisBlock(block._id)">{{block.category}}</td>
      <td *ngIf="!editingThisBlock(block._id)">{{block.group}}</td>
      <td *ngIf="!editingThisBlock(block._id)">{{block.content}}</td>
      <td *ngIf="!editingThisBlock(block._id)">
        <div id="knowledgeholder">
          <span
            *ngFor="let k of block.knowledgeholder"
            class="knowledgeSpan">
            {{k.name}} / {{k.depth}}
          </span>
        </div>
      </td>
      <td *ngIf="!editingThisBlock(block._id)">
        <div id="productholder">
          <span
            *ngFor="let p of block.productholder"
            class="productSpan" (click)="logMe(p)">
            {{p.key}}
          </span>
        </div>
      </td>
      <td>
        <button *ngIf="!editingThisBlock(block._id)" (click)="editBlock(block._id)">
          <fa name="pencil"></fa>
        </button>
        <button *ngIf="editingThisBlock(block._id)" (click)="updateBlock(block._id, block)">
          <fa name="check"></fa>
        </button>
        <button (click)="deleteBlock(block._id)">
          <fa name="trash"></fa>
        </button>
      </td>
    </tr>
  </table>
</div>
