table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.knowledgeSpan {
  display:block;
  text-align:center;
  color:white;
  background:black;
  padding:5px;
  border-radius:2px;
  margin:10px;
  font-size:10px;
}

.editKnowledgeSpan {
  border-style: dashed;
  border-width: 1px;
}

.productSpan {
  display:block;
  text-align:center;
  color:white;
  background:black;
  padding:7px;
  border-radius:2px;
  margin:5px 5px 5px 0px;
  font-size:10px;
}
